<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
  <title>Fritz - The Title of the Story</title>
  <link href="/stylesheets/left_basic_short_story.css" rel="stylesheet">
  <a href = "/index.html">
  <h2>Fritz</h2>
</a>
  <div class="description">
    A process of decay.
  </div>
  <div id="flex-container">
    <div style="align-self: flex-start">

  <div class = "poem">
      <h1> A story about something</h1>
      <h2> Someone</h2>
<p>A short story.</p>
<p>The end.</p>
</div>
    
</head>
<body>
  
</html>

